<template>
  <div class="wrapper">
    <parallax class="page-header header-filter" :style="headerStyle">
      <div class="md-layout">
        <div class="md-layout-item">
          <div class="image-wrapper">
            <div class="brand">
              <h1>Frikk Herding</h1>
              <h3>This is my site</h3>
            </div>
          </div>
        </div>
      </div>
    </parallax>
    <div class="main">
      <div class="section section-basic">
        <div class="container">
          <bio-contents></bio-contents>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BioContents from "./components/BioContents.vue";

export default {
  components: {
    BioContents
  },
  name: "bio",
  bodyClass: "index-page",
  props: {
    image: {
      type: String,
      default: require("@/assets/img/vue-mk-header.jpg")
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.image})`,
      };
    },
  },
};
</script>

<style lang="scss">

</style>
