<template>
  <div class="wrapper">
    <div id="about-me">
        <div class="title">
            <h2 class="title">Bio</h2>
        </div>
        <div class="md-layout">
            <div class="md-layout-item">
                <h3>About Me</h3>
                <div>
                    <p> 
                        Technical Director at Viva Labs, Making smart homes easier to use 
                        all day long. M.Sc. in electrical engineering from 
                        NTNU Norway. Specialization in Signal Processing and Acoustics. My 
                        choice of studies was mainly to understand how computers work. However  
                        I soon realised Software development was much more enjoyable than electronics 
                        and switched my focus to this in my first job. 
                    </p>
                    <p>
                        Embedded development was my first love, I then moved to embedded Linux machines 
                        and Linux in general. Now my horizon has spread to backend development,
                        app development and web technologies. Hovever always living in the terminal.
                    </p>
                </div>
            </div>
        </div>
        <div class="md-layout">
            <div class="md-layout-item">
                <h3>Skills</h3>
                <h4>Programming Languages</h4>
                <div>
                    <p> 
                        C, C++, Java, Python, Kotlin, C#, Javascript.
                    </p>
                </div>
                <h4>Technologies</h4>
                <div>
                    <p> 
                        Linux development (OpenWRT, Ubuntu, Arch), Android OS development, 
                        Android app development, Cloud Backend development (AWS), 
                        Amazon Alexa Voice Service, Dbus, GLib, MQTT, Zigbee, Z-Wave, Vue.
                    </p>
                </div>
                <h4>Tooling etc</h4>
                <div>
                    <p> 
                        JIRA, Bitbucket, Github, Gitlab, Docker, Linux, Gradle, AWS, Netlify, 
                        IntelliJ, Vim, Bash, Ash, YAML, Visual Studio Code, Visual Studio, 
                    </p>
                </div>
            </div>
        </div>
        <div class="md-layout">
            <div class="md-layout-item">
                <h3>Projects</h3>
                <h4>Integration of Alexa Voice Service in Android</h4>
                <div>
                    <p> 
                        Implementation of the Alexa Voice Service into an Android in-home display.
                        Very interesting project with loads of challenges. Based on Alexa AVS SDK, 
                        built in C++ and modified to suit the need for the device used.
                    </p>
                </div>
            </div>
        </div>
    </div>
  </div>
  
</template>

<script>
export default {
  components: {
  },
  data() {
    return {
      defaultPagination: 3,
      infoPagination: 3,
      initial: null,
      floatingLabel: null,
      success: null,
      error: null,
      withMIcon: null,
      withFaIcon: null,
      checkbox1: true,
      checkbox2: null,
      checkbox3: true,
      checkbox4: null,
      radio1: true,
      radio2: false,
      switch1: true,
      switch2: null,
      amount: 30,
      amount2: 60,
      buffer: 40,
      sliders: {
        simple: 40,
        rangeSlider: [20, 60]
      }
    };
  }
};
</script>

<style lang="scss" scoped>
.vertical-center {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.md-checkbox,
.md-radio {
  display: flex;
  margin: 0;
  margin-bottom: 0.5rem;
}
</style>
