<template>
  <div class="wrapper">
    <div id="sports-conditions">
      <div class="title">
        <h2 class="title">Sports Conditions</h2>
      </div>
      <div class="md-layout">
        <div class="md-layout-item">
          <h3>Kiting</h3>
          <vindsiden></vindsiden>
        </div>
      </div>
      <div class="md-layout">
        <div class="md-layout-item">
          <h3>Surfing</h3>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vindsiden from "./Vindsiden";
export default {
  components: {
    Vindsiden,
  },
  data() {
    return {
      defaultPagination: 3,
      infoPagination: 3,
      initial: null,
      floatingLabel: null,
      success: null,
      error: null,
      withMIcon: null,
      withFaIcon: null,
      checkbox1: true,
      checkbox2: null,
      checkbox3: true,
      checkbox4: null,
      radio1: true,
      radio2: false,
      switch1: true,
      switch2: null,
      amount: 30,
      amount2: 60,
      buffer: 40,
      sliders: {
        simple: 40,
        rangeSlider: [20, 60],
      },
    };
  },
};
</script>

<style lang="scss" scoped>
.vertical-center {
  display: flex;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.md-checkbox,
.md-radio {
  display: flex;
  margin: 0;
  margin-bottom: 0.5rem;
}
</style>
