<template>
  <div class="vindsiden">
    <div v-if="loading">
      <h1>Loading...</h1>
    </div>

    <div v-if="error">
      {{ error }}
    </div>

    <div v-if="series">
      <div>
        <apexchart
          width="100%"
          type="line"
          :options="options"
          :series="series"
        ></apexchart>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import VueApexCharts from "vue-apexcharts";
import Vue from "vue";

Vue.component("apexchart", VueApexCharts);

export default {
  data() {
    return {
      loading: false,
      post: null,
      error: null,

      options: {
        chart: {
          id: "vuechart-example",
          background: "#1C2023",
        },
        xaxis: {
          categories: null,
        },
        stroke: {
          curve: "smooth",
        },
        theme: {
          mode: "dark",
          palette: "palette4",
        },
        tooltip: {
          enabled: true,
          theme: "dark",
        },
      },
      series: null,
    };
  },
  created() {
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchData();
  },
  watch: {
    // call again the method if the route changes
    $route: "fetchData",
  },
  methods: {
    fetchData() {
      this.loading = true;
      axios
        .get("https://www.frikkherding.no/.netlify/functions/vindsiden-lambda")
        .then((response) => {
          const windAvg = [
            {
              name: "Max Vind",
              data: response.data.WindMax,
            },
            {
              name: "Avg Wind",
              data: response.data.WindAvg,
            },
            {
              name: "Min Wind",
              data: response.data.WindMin,
            },
          ];
          this.series = windAvg;

          const time = {
            categories: response.data.time,
          };
          this.options.xaxis = time;
          //this.series = response.data.WindAvg

          this.loading = false;
        });
    },
  },
};
</script>
